#sidebar {
	flex: 1;
	max-width: 60px;
	border-right: 0.5px solid rgb(230, 227, 227);
	transition: all 1s ease;

	.topper {
		display: flex;
		justify-content: center;
		align-items: center;

		.menu-icon {
			color: var(--paragraph);
		}
	}

	.body {
		display: flex;
		justify-content: center;
		padding: 10px;

		ul {
			list-style: none;

			.router-link {
				text-decoration: none;
				color: var(--paragraph);

				li {
					display: flex;
					align-items: center;
					padding: 5px;

					&:hover {
						background-color: var(--highlight);
						border-radius: 7px;
					}

					.icon {
						font-size: 18px;
					}

					span {
						display: none;
						font-size: 13px;
						font-weight: bold;
						margin-left: 10px;
					}
				}
			}
		}
	}

	&.active {
		max-width: 137px;

		.body {
			ul {
				.router-link {
					li {
						span {
							display: block;
						}
					}
				}
			}
		}
	}
}
