.team-select {
	width: 90%;
	border-radius: 40px;
	background: var(--secondary-shadow-dk);
	color: var(--paragraph);
	font-weight: bold;
}

@media only screen and (min-width: 300px) {
	.team-select {
		padding: 2px;
	}
}

@media only screen and (min-width: 400px) {
	.team-select {
		width: 85%;
		padding: 5px;
	}
}

@media only screen and (min-width: 450px) {
	.team-select {
		width: 75%;
	}
}

@media only screen and (min-width: 1200px) {
	.team-select {
		max-width: 200px;
	}
}
