#topbar {
	height: 60px;
	background-color: var(--secondary);

	.wrapper {
		box-sizing: border-box;
		height: inherit;
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;

		.left,
		.center,
		.right {
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--paragraph);
		}
	}
}
