:root {
	--brand: #7f5af0;
	--primary: #242629;
	--secondary: #16161a;
	--secondary-shadow: rgba(22, 22, 26, 0.2);
	--secondary-shadow-dk: rgba(22, 22, 26, 0.8);
	--paragraph: #94a1b2;
	--border: #e6e3e3;
	--highlight: #2cb67d;
}

* {
	margin: 0;
	padding: 0;
	scroll-snap-align: start;
	box-sizing: border-box;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

html {
	background-color: var(--primary);
}
